		    .tab-content {
		    	padding-top: 10px;
		    }
		    .albums{
		    	margin-top:10px;

		    }
		    .albumtype{
		    	padding: 7px;
		    	/*border: 1px solid #ffe;*/
		    	height:300px;
		    }
		    body{
		    	background-color: #eee;
		    }

		    #main{
		    	padding:0px 20px;
		    }

		    #outer {
		    	border: 1px solid black;
		    	padding: 0;
		    	margin-top: 50px;
				margin-bottom: 10px;
				background-color: #ffe;
				position: relative;
				min-height: 200px;
			}
			
			#outer * {
				font-family: Arial, Geneva, SunSans-Regular, sans-serif;
				font-size: 14px;
				color: #333;
				line-height: 22px;
			}

			#wrapper {
				background-color: #fff;
				border-top: 1px solid #ccc;
				width: 100%;
				height: 100px;
				position: absolute;
				top:100px;
			}
			#carousel {
				margin-top: -60px;
			}
			#carousel div {
				text-align: center;
				width: 200px;
				height: 100px;
				padding: 0 20px;
				float: left;
				position: relative;
			}
			#carousel div img {
				border: none;
				width: 100%;
				height: 90px;
			}
			#carousel div span {
				display: none;
			}
			#carousel div:hover span,
			#carousel div.hover span {
				background-color: #333;
				color: #fff;
				display: inline-block;
				width: 100px;
				padding: 2px 0;
				margin: 0 0 0 -50px;
				position: absolute;
				bottom: 0;
				left: 50%;
				border-radius: 3px;
			}
			#pager {
				text-align: center;
				padding-top: 20px;
			}
			#pager a {
				background: #ccc;
				display: inline-block;
				border-radius: 5px;
				width: 10px;
				height: 10px;
				margin: 0 2px;
			}
			#pager a.selected {
				background: #999;
			}
			#pager a:hover {
				background: #666;
			}
			#pager a span {
				display: none;
			}
			
		